<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div sec:authorize="!isAuthenticated()">
        <div th:attr="data-url=@{/}"></div>
        <script>
            window.location.href = document.querySelector('[data-url]').getAttribute('data-url');
        </script>
    </div>

    <div class="container">
        <div class="col-sm-12 d-flex justify-content-center">
        </div>
        <div th:replace="fragments/navbar :: navbar(isAdmin=${isAdmin})" style="margin-bottom: 20px"></div>

        <table class="table table-hover table-bordered">
            <thead class="thead-inverse">
            <tr th:class="table-dark">
                <th>ID</th>
                <th>Name</th>
                <div th:if="${isAdmin}">
                    <th colspan="4"><div class="col text-center">Actions</div></th>
                </div>
                <div th:if="${!isAdmin}">
                    <th colspan="2"><div class="col text-center">Actions</div></th>
                </div>
            </tr>
            </thead>
            <tr th:each="bank, stat : ${banks}"
                th:class="table-bordered">
                <td th:text="${bank.id}">1</td>
                <td th:text="${bank.name}">Product 1</td>
                <div th:if="${isAdmin}">
                    <td>
                        <form th:action="@{/credits/creditform}" method="post">
                            <input type="hidden" name="bank_id" th:value="${bank.id}">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span> Create credit offer
                                </button>
                            </div>
                        </form>
                    </td>
                    <td><div class="col text-center"><a class="btn btn-primary" role="button" th:href="@{'/banks/info/' + ${bank.id}}">Info</a></div></td>
                    <td><div class="col text-center"><a class="btn btn-warning" role="button" th:href="@{'/banks/update/' + ${bank.id}}">Update</a></div></td>
                    <td><div class="col text-center"><a class="btn btn-danger" role="button" th:href="@{'/banks/delete/' + ${bank.id}}">Delete</a></div></td>
                </div>
                <div th:if="${!isAdmin}">
                    <td><div class="col text-center"><a class="btn btn-primary" role="button" th:href="@{'/banks/info/' + ${bank.id}}">Info</a></div></td>
                    <td>
                        <form th:action="@{/accounts/accountform}" method="post">
                            <input type="hidden" name="bank_id" th:value="${bank.id}">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span> Open new account
                                </button>
                            </div>
                        </form>
                    </td>
                </div>
            </tr>
        </table>
    </div>
    <div class="container">
        <div th:if="${isAdmin}">
            <div class="col-md-7 ml-md-auto button-row">
                <a class="btn btn-primary" role="button" th:href="@{'/banks/new'}">Add bank</a>
                <button class="btn btn-primary" role="button" onclick="history.go(-1)">Back</button>
            </div>
        </div>
        <div th:if="${!isAdmin}">
            <div class="col-md-7 ml-md-auto button-row">
                <button class="btn btn-primary" role="button" onclick="history.go(-1)">Back</button>
            </div>
        </div>
    </div>
</body>
</html>