<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<div sec:authorize="!isAuthenticated()">
    <div th:attr="data-url=@{/}"></div>
    <script>
        window.location.href = document.querySelector('[data-url]').getAttribute('data-url');
    </script>
</div>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color:lightgray;">
                        <h1 class="panel-title" th:text="${payment.getBankName()}">Bank name</h1>
                    </div>
                </div>

            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:lightgray;">
                    <h1 class="panel-title">Info:</h1>
                </div>
                <div>
                    <h3>
                        <span th:text="'Client name:'"></span>
                        <span th:text="${payment.getUsername()}"></span>
                    </h3>
                    <h3>
                        <span th:text="'IBAN:'"></span>
                        <span th:text="${payment.getAccountNumber()}"></span>
                    </h3>
                    <h3>
                        <span th:text="'Value paid:'"></span>
                        <span th:text="${payment.getPaidValue()}"></span>
                    </h3>
                </div>
                <div class="col-sm-12 d-flex justify-content-center">
                    <button class="btn btn-primary" role="button" onclick="history.go(-1)">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>